.not-found {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

.not-found h3 {
  font-size: 70px;
  color: var(--color-one);
}

.not-found p {
  color: var(--color-two);
}

.not-found a {
  background-color: var(--color-one);
  color: var(--color-three);
  padding: 5px 10px;
  text-transform: capitalize;
}
