.form {
    width: 80%;
    border: 1px solid #777;
    height: 350px;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.title {
margin: 0 auto;
margin-top: 30px;
padding-bottom: 30px;
color: var( --color-one);
}

.btn-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}

.input {
     width: 200px;
}


.signup-btn {
background-color: var(--color-two);
color: var(--white);
width: fit-content;
}



.login-btn {
    width: 85px;
}

.google-btn {
    margin-top: 15px;
    background-color: var(--white);
    color: var(--color-one);
    padding: 0 10px;
    width: 190px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-one);
    border-radius: 29px;
}

.google-btn:hover{
    transform: rotateY(15deg);
}
